<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="salve()" (ngReset)="resetForm()">
      <mat-card-content>
        <dio-input-text title="Titulo*"
          controlName="title"
          [formGroup]="cadastro">
        </dio-input-text>
        <dio-input-text title="Link Foto"
          controlName="imageUrl"
          [formGroup]="cadastro">
        </dio-input-text>
        <dio-input-date title="Data de Lançamento*"
          controlName="releaseDate"
          [formGroup]="cadastro">
        </dio-input-date>
        <dio-input-textarea title="Descrição"
          controlName="description"
          [formGroup]="cadastro">
        </dio-input-textarea>
        <dio-input-number title="Nota IMDb*"
          min="0"
          max="10"
          step="0.1"
          controlName="imdbNote"
          [formGroup]="cadastro">
        </dio-input-number>
        <dio-input-text title="Link IMDb"
          controlName="imdbLink"
          [formGroup]="cadastro">
        </dio-input-text>
        <dio-select title="Gênero*"
          controlName="gender"
          [options]="gender"
          [formGroup]="cadastro">
        </dio-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
