<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <textarea matInput
          [placeholder]="title"
          [name]="controlName"
          [formControlName]="controlName">
    </textarea>
    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'required')">
      Campo obrigatório
    </mat-error>
    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'minLength')">
      Campo precisa te no mínimo {{ validateField.lengthValidate(formControl, 'min') }} caracteres
    </mat-error>
    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'maxLength')">
      Campo pode ter no máximo {{ validateField.lengthValidate(formControl, 'max') }} caracteres
    </mat-error>
  </mat-form-field>
</div>
