<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<mat-card class="float-left margin10 filter-list">
  <form autocomplete="off" novalidate [formGroup]="filterList">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text title="Filtro"
          controlName="text"
          [formGroup]="filterList">
        </dio-input-text>
      </div>
    </div>

    <div class="float-left width50">
      <div class="padding10">
        <dio-select title="Gênero"
          controlName="gender"
          [options]="gender"
          [formGroup]="filterList">
        </dio-select>
      </div>
    </div>
  </form>
</mat-card>

<div class="home-content"
  infiniteScroll
  (scrolled)="onScroll()"
  *ngIf="filmes.length; else noRegistry">

  <mat-card class="home-card" *ngFor="let filme of filmes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ filme.title }}</mat-card-title>
      <mat-card-subtitle>{{ filme.gender }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="filme.imageUrl || noPicture" [alt]="filme.title">
    <mat-card-content>
      <p class="break-line">
        {{ filme.description || 'Nenhuma descrição informada'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>ABRIR</button>
    </mat-card-actions>
  </mat-card>

</div>
<ng-template #noRegistry>
  <h1 class="full-width">Nenhum filme encontrado</h1>
</ng-template>
