<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>
<div class="home-content" infiniteScroll (scrolled)="onScroll()>">

  <mat-card class="home-card" *ngFor="let filme of filmes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ filme.title }}</mat-card-title>
      <mat-card-subtitle>{{ filme.gender }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="filme.imageUrl" [alt]="filme.title">
    <mat-card-content>
      <p>
        {{ filme.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>ABRIR</button>
    </mat-card-actions>
  </mat-card>

</div>
