<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
          type="number"
          [min]="min"
          [max]="max"
          [step]="step"
          [placeholder]="title"
          [name]="controlName"
          [formControlName]="controlName">
    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'required')">
      Campo obrigatório
    </mat-error>
    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'min')">
      Campo precisa ter no mínimo {{ validateField.lengthValidate(formControl, 'min') }} caracteres
    </mat-error>
    <mat-error *ngIf="validateField.hasErrorValidate(formControl, 'max')">
      Campo pode ter no máximo {{ validateField.lengthValidate(formControl, 'max') }} caracteres
    </mat-error>
  </mat-form-field>
</div>
